@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,700;1,9..144,400;1,9..144,700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,700;1,9..144,400;1,9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,700;1,9..144,400;1,9..144,700&family=Roboto:wght@900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/** GLOBAL **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Fira Code', sans-serif;
    font-weight: 400;
    color: #cdd6f4;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-size: 3.5rem;
    font-weight: 700;
    color: #74c7ec;
    text-align: center;
}

h2 {
    font-family: 'Space Mono', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #74c7ec;
}

h4 {
    font-family: 'Space Mono', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #74c7ec;
}

body {
    display: flex;
    justify-content: center;

    min-height: 100vh;

    background-color: #1e1e2e;
}

hr {
    margin: 1rem;
    color: #cba6f7;
}

/* STYLES */

/** PAGE **/
#wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 35vw;
}

/** HEADER **/
#header p {
    text-align: center;
}

/** SOCIAL LINKS **/
#social {
    display: flex;
    justify-content: center;

    text-align: center;
}

#social a {
    border: 2px solid #2d2d31;
    border-radius: 25%;
    margin: 1rem 0.5rem 0 0.5rem;
}

#social i {
    font-size: 2em;
    margin: 1rem;
    width: 32px;
    height: 32px;
}

#insta:hover {
    border-color: #dd2a7b;
}
#insta:hover i {
    color: #dd2a7b;
}

#twt:hover {
    border-color: #1DA1F2;
}
#twt:hover i {
    color: #1DA1F2;
}

#arts:hover {
    border-color: #13aef0;
}
#arts:hover i {
    color: #13aef0;
}

#lnkd:hover {
    border-color: #0a66c2;
}
#lnkd:hover i {
    color: #0a66c2;
}

#mailto:hover {
    border-color: gainsboro;
}
#mailto:hover i {
    color: gainsboro;
}

/** NAVIGATION **/
#tabs {
    display: flex;
    justify-content: space-around;

    text-transform: uppercase;
    font-weight: 300;

    margin: 1.5rem 0 2rem 0;
}

.tab {
    font-family: 'Space Mono', sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fab387;
}

.tab.active {
    color: #a6e3a1;
}

.tab:hover {
    cursor: pointer;
    color: #a6e3a1;
    font-weight: 700;
}

/** CONTENT **/
#content {
    flex-grow: 1;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.bio {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #11111b;
}

.articul {
    flex-grow: 1;
}

.articul-gallery {
    display: flex;
    background-color: #11111b;
    border-radius: 1rem;
}

.articul-gallery a {
    display: flex;
    justify-content: center;
}

#about {
    margin: 0;
}

#software {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;

    text-align: center;
}

#software div {
    padding-top: 1rem;
    flex: 0 25%;
}

#software img {
    max-width: 15%;
}

/** SKILLS **/
#skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    border: 2px solid rgba(148, 226, 213, .75);
    border-radius: 5px;
    margin: 5px;
}

.skill p {
    padding: 5px;
}

/** GALLERY **/
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-img {
    display: flex;
    max-width: 75%;
    height: auto;
    margin: 1rem;
    border-radius: 1rem;
    
    transition: .5s ease;
}

.gallery-img:hover  {
    transform: scale(1.5);
    cursor: pointer;

    transition: .2s ease;
}

/** PROJECT **/
.project {
    display: flex;
    background-color: #11111b;
    border-radius: 1rem;
    padding: 1rem;
}

.project-img {
    display: inherit;
    align-items: center;
    padding: 1rem;
}

.project img {
    max-width: 165px;
    height: auto;
    flex: 1;
    margin: 1rem;
}

.project-tags {
    flex: 1;
    align-content: flex-end;
    align-items: flex-end;
}

.project-tags p {
    display: flex;
    align-items: center;
    height: 3.5rem;
}

.project-info {
    flex: 3;
}

.project-info p {
    display: flex;
    align-items: center;
    height: 3.5rem;
}

.project-info a {
    color: #a6e3a1;
}

.project-info a:hover {
    color: #fab387;
}

.fas fa-link {
    color: #fab387;
}

/** FOOTER **/
#foot {
    margin: 2rem;
}

#contact p {
    text-align: center;
}

#copyright {
    font-weight: 300;
    font-style: italic;
    font-size: 10pt;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 1440px) {
    #wrapper {
        width: 90vw;
    }
}

@media (max-width: 767px) {
    
    h1 {
        text-align: center;
    }

    #social a {
        margin: 0.5rem 0.5rem 0 0.5rem;
    }

    #social i {
        margin: 0.5rem;
    }
    
    #software div {
        flex: 0 50%;
    }

    .project {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project img {
        margin-bottom: 1rem;
    }

    .project-tags {
        display: none;
    }

    .project-info p {
        height: 3rem;
        justify-content: center;
    }
    
}

@media (max-width: 415px) {
    .project {
        flex-direction: column;
        text-align: center;
    }
}